meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
link(rel='stylesheet', href='/css/style.css', media='screen')
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/select.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/js/wheel.js')
script(type='text/javascript', src='/js/scroll.js')
script(type='text/javascript', src='/js/socket.js')
script(type='text/javascript', src='/js/jade.js')
link(rel='stylesheet', href='/css/style.css', media='screen')
link(rel='stylesheet', type='text/css', media='all', href='/css/select.css')
//if IE 7
link(rel='stylesheet', href='/css/ie7.css', media='screen')
-if(undefined ===title)
  title Welcome to Voluble
-else
  title #{title}
