!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  link(rel='stylesheet', href='/css/style.css', media='screen')
  //if IE 7
  link(rel='stylesheet', href='/css/ie7.css', media='screen')
  title Chat Management - Dashboard
  style(type='text/css')
    .jlhlebbhengjlhmcjebbkambaekglhkf {top: 0px; left: 0px;min-width: 30px;max-width: 300px;font-size: 13px;font-family: arial, helvetica, sans-serif;opacity: .93;padding:0px;position:absolute;display:block;z-index: 999997;font-style: normal;font-variant: normal;font-weight: normal;}#jlhlebbhengjlhmcjebbkambaekglhkf_up{text-align: center;padding:0px;margin: 0px;}#jlhlebbhengjlhmcjebbkambaekglhkf_cont{background-color: #729FCF;font-family: arial, helvetica, sans-serif-webkit-box-shadow: #729FCF 0px 0px 2px;color: #FFFFFF;padding:7px;-webkit-border-radius: 5px;}#jlhlebbhengjlhmcjebbkambaekglhkf_down{text-align: center;padding:0px;margin: 0px;}
  body
    .container
      .middler
        .top
          h1
            a(href='/') Voluble
          ul.navigation
            li.welcome_top
              a(href='#')
                img(src='/images/user_001.jpg', alt='User 001')
                | Welcome,
                strong taariqlewis
            li
              a(href='#') History
            li
              a(href='#') Settings
            li
              a(href='#') Log out
        //
          .top
        .center
          .center_top
          .center_mid
            .center_mid_left
              .center_mid_sides_top
              h2.eventer Upcoming Events
              .enter_event
                form(action='#')
                  p(style='float: left;')
                    input(type='text', value='Event Name')
                  p(style='float: right;')
                    button
                      span Create new event
              //
                .enter_event
              ul.event_listings
                li
                  p
                    | Event Name
                    span 12 Feb 2012
                  p.event_info Additional metadata can be placed here
                li
                  p
                    | Event Name
                    span 12 Feb 2012
                  p.event_info Additional metadata can be placed here
                li
                  p
                    | Event Name
                    span 12 Feb 2012
                  p.event_info Additional metadata can be placed here
                li
                  p
                    | Event Name
                    span 12 Feb 2012
                  p.event_info Additional metadata can be placed here
                li.last_event
                  p
                    | Event Name
                    span 12 Feb 2012
                  p.event_info Additional metadata can be placed here
              .center_mid_sides_bottom
            //
              .center_mid_left
            .center_mid_right
              .center_mid_sides_top
              h2.eventer Past Events
              ul.event_listings
                li
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
                li
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
                li
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
                li
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
                li
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
                li
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
                li.last_event
                  p
                    | Event Name
                    span 10 Feb 2012
                  p.event_info ## attendees, etc, analytics
              .center_mid_sides_bottom
            //
              .center_mid_right
          //
            .center_mid
          .center_bottom
      //
        .middler
    //
      .container
  style(type='text/css')
    embed[type*="application/x-shockwave-flash"],embed[src*=".swf"],object[type*="application/x-shockwave-flash"],object[codetype*="application/x-shockwave-flash"],object[src*=".swf"],object[codebase*="swflash.cab"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"],object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"]{	display: none !important;}
