.center
  .center_top
  .center_mid
    .center_mid_left
      .center_mid_sides_top
      h2.eventer Upcoming Events
      .enter_event
        form(action='#')
          p(style='float: left;')
            input(type='text', value='Event Name')
          p(style='float: right;')
            button
              span Create new event
      //
        .enter_event
      ul.event_listings
        -if(undefined != data.events)
          each event in data.events
            include event_partials/upcoming_event
      .center_mid_sides_bottom
    //
      .center_mid_left
    .center_mid_right
      .center_mid_sides_top
      h2.eventer Past Events
      ul.event_listings#past_events
        -if(undefined != data.past_events)
          each past_event in data.past_events
            include event_partials/past_event
      .center_mid_sides_bottom
    //
      .center_mid_right
  // .center_mid
  .center_bottom
