!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
  include partials/head
  body
    .container
      .middler
        .top
          h1
            a(href='/') Voluble
          include partials/user_home
        //
          .top
      div!=body

  style(type='text/css')
    embed[type*="application/x-shockwave-flash"],embed[src*=".swf"],object[type*="application/x-shockwave-flash"],object[codetype*="application/x-shockwave-flash"],object[src*=".swf"],object[codebase*="swflash.cab"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"],object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"]{	display: none !important;}
