#uniform-hours {
    width: 98px !important;
}

#uniform-hours span {
    background-image: url(/images/drop_down.png) !important;
    padding: 6px 0 0 13px !important;
    width: 85px !important;
}

#uniform-minutes {
    width: 118px !important;
}

#uniform-minutes span {
    background-image: url(/images/drop_down.png) !important;
    padding: 6px 0 0 13px !important;
    width: 105px !important;
}

#uniform-nod {
    background-image: url(/images/nod.png) !important;
    width: 46px !important;
}

#uniform-nod span {
    padding: 6px 0 0 !important;
    text-align: center;
    width: 46px !important;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html,body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sherif ;
	font-size: 12pt;
	color: #808080;
	line-height: 14px;	
	background-color: #f8f6ee;
}

button.save {
    background-image: url(/images/button_005.png);
    float: right;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    height: 36px;
    width: 106px;
}

button.save span {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    margin-left: -3px;
    margin-top: 9px;
    text-align: center;
    width: 106px;
}

button.send {
    background-color: transparent;
    background-image: url(/images/send.png);
    float: right;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    height: 33px;
    margin-top: -1px;
    width: 63px;
}

button.send span {
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 33px;
    margin-left: -3px;
    margin-top: 8px;
    text-align: center;
    width: 63px;
}

div.avatar {
    background-color: #ccc;
    float: left;
    height: 40px;
    margin: 8px 10px 0 8px;
    width: 40px;
}

div.bio {
    float: left;
    margin-right: 10px;
    width: 183px;
}

div.bios {
    float: left;
    margin-bottom: 20px;
    margin-left: 24px;
    width: 407px;
}

div.buttons button {
    background-color: transparent;
    background-image: url(/images/button_006.png);
    float: left;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    height: 36px;
    width: 106px;
}

div.buttons button span {
    color: #484848;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    margin-left: -3px;
    margin-top: 9px;
    text-align: center;
    width: 106px;
}

div.buttons button.save_chat {
    background-image: url(/images/button_005.png);
}

div.calendar {
    float: left;
    height: 41px;
    width: 160px;
}

div.calendar button {
    background-color: transparent;
    background-image: url(/images/calendar.png);
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    height: 41px;
    width: 43px;
}

div.calendar_in {
    background-image: url(/images/calendar_left.png);
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    height: 41px;
    overflow: visible;
    width: 117px;
}

div.calendar_in input {
    background-color: transparent;
    border: none;
    color: #484848;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 16px;
    margin-left: -2px;
    margin-top: 9px;
    text-align: center;
    width: 117px;
}

div.center_bottom {
    background-image: url(/images/backs.png);
    background-position: 0 -8px;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    width: 980px;
}

div.center_mid {
    background-color: #eeece5;
    float: left;
    width: 980px;
}

div.center_mid_full {
    float: left;
    margin-left: 8px;
    width: 964px;
}

div.center_mid_full_bottom {
    background-image: url(/images/backs.png);
    background-position: 0 -40px;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    width: 964px;
}

div.center_mid_full_content {
    background: #e0ded8;
    float: left;
    width: 964px;
}

div.center_mid_full_top {
    background-image: url(/images/backs.png);
    background-position: 0 -32px;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    width: 964px;
}

div.center_mid_left {
    background-color: #e0ded8;
    float: left;
    margin-left: 8px;
    width: 478px;
}

div.center_mid_right {
    background-color: #e0ded8;
    float: right;
    margin-right: 8px;
    width: 478px;
}

div.center_mid_sides_bottom {
    background-image: url(/images/backs.png);
    background-position: 0 -24px;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    width: 478px;
}

div.center_mid_sides_top {
    background-image: url(/images/backs.png);
    background-position: 0 -16px;
    background-repeat: no-repeat;
    height: 8px;
    width: 478px;
}

div.center_top {
    background-image: url(/images/backs.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    width: 980px;
}

div.chat_data {
    float: left;
    margin: 47px 0;
    width: 100%;
}

div.chat_data label {
    color: #646464;
    display: block;
    float: left;
    font-size: 14px;
    margin-top: -23px;
    width: 80px;
}

div.check_box {
    color: #646464;
    float: left;
    font-size: 14px;
    margin-left: 16px;
    margin-top: 8px;
    width: 517px;
}

div.check_box input {
    float: left;
}

div.check_box span.also {
    float: left;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-top: -1px;
}

div.check_box span.also em {
    color: #969696;
    font-size: 12px;
    font-style: normal;
}

div.commenter {
    float: left;
    margin-top: 8px;
    width: 541px;
}

div.commenter form {
    background-color: #e0ded8;
    float: left;
    width: 100%;
}

div.commenter textarea {
    background-image: url(/images/commenter.png);
    background-repeat: repeat-x;
    border-bottom: 1px solid #bfbeba;
    border-left: 1px solid #bfbeba;
    border-right: 1px solid #bfbeba;
    color: #bfbeba;
    float: left;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 14px;
    height: 58px;
    margin-left: 8px;
    padding: 10px;
    width: 503px;
}

div.container {
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    margin: 0 auto;
    width: 1000px;
}

div.discuss_info {
    float: left;
    margin-top: 8px;
    width: 440px;
}

div.discuss_info p {
    float: left;
    font-size: 13px;
    font-weight: 700;
    width: 440px;
}

div.discuss_info p a, div.likes_info p a, div.replies h3 a.active, div.replies h4 a.active, div.moderators p a {
    color: gray;
}

div.discuss_info p span, div p span.days {
    color: #bbb;
    float: right;
    font-size: 13px !important;
    font-weight: 400;
    margin-top: 0;
}

div.discuss_info p span.options img {
    float: left;
    margin-left: 5px;
}

div.discuss_info p.message, div.likes_info p.message {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 6px;
}

div.divide_ques {
    background-color: #f4f3ee;
    float: left;
    height: 40px;
    margin-left: 17px;
    margin-right: 17px;
    width: 1px;
}

div.divide_side {
    background-color: #e0ded8;
    float: left;
    height: 22px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 9px;
    width: 1px;
}

div.e1 {
    margin-right: 24px;
    width: 160px !important;
}

div.e2 {
    margin-right: 24px;
    width: 124px !important;
}

div.e3 {
    margin-right: 4px;
    width: 98px !important;
}

div.e4 {
    width: 118px !important;
}

div.edit_chat {
    float: left;
    margin: 9px 0;
    width: 552px;
}

div.edit_chat textarea {
    border-left: 1px solid #bfbeba;
    border-right: 1px solid #bfbeba;
    color: #bfbeba;
    float: left;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 14px;
    height: 99px;
    padding: 3px 12px;
    width: 526px;
}

div.edit_item {
    float: left;
}

div.enter_event {
    background-image: url(/images/enter_event.png);
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    margin-bottom: 7px;
    margin-left: 8px;
    width: 462px;
}

div.enter_event button {
    background: transparent;
    background-image: url(/images/button_001.png);
    border: none;
    color: #fff;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 42px;
    padding: 0;
    width: 146px;
}

div.enter_event button span {
    position: relative;
    top: -2px;
}

div.enter_event input {
    background: transparent;
    border: none;
    color: #bbb;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 18px;
    padding: 9px 9px 9px 8px;
    width: 288px;
}

div.fb {
    z-index: 500;
}

div.hash_topic label {
    color: #646464;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    width: 308px;
}

div.hash_topic, div.buttons {
    float: left;
    font-size: 14px;
    margin: 0 0 24px;
    width: 552px;
}

div.hashtag {
    background-image: url(/images/hash_topic.png);
    background-repeat: no-repeat;
    float: left;
    height: 41px;
    width: 308px;
}

div.hashtag input {
    background-color: transparent;
    border: none;
    color: #bfbeba;
    float: left;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 9px 12px;
    width: 308px;
}

div.image {
    background: #fff;
    border: 1px solid #bfbeba;
    float: left;
    height: 123px;
    margin-left: 17px;
    margin-right: 16px;
    margin-top: 9px;
    width: 123px;
}

div.image span {
    float: left;
    font-size: 14px;
    margin-top: 51px;
    text-align: center;
    width: 123px;
}

div.image span a, div.ui_right ul.ui_nav li a, ul.navigation li a, div.discuss_info p.message a, div.likes_info p.message a, div.replies h3 a, div.replies h4 a, div.popup p a, div.moderators span a, div.sign_upper a {
    color: #369;
    text-decoration: none;
}

div.jsppane, div.jspcontainer {
    padding: 4px 0 0 !important;
    width: 541px !important;
}

div.likes {
    background-image: url(/images/sprite.png);
    float: left;
    margin-left: 24px;
    width: 382px;
}

div.likes_bottom {
    background-image: url(/images/sprite.png);
    background-position: 0 -392px;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    margin-bottom: 7px;
    margin-left: 24px;
    width: 382px;
}

div.likes_info {
    float: left;
    margin-top: 8px;
    width: 310px;
}

div.likes_info p {
    float: left;
    font-size: 13px;
    font-weight: 700;
    width: 310px;
}

div.likes_info p span {
    color: #bbb;
    float: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}

div.likes_info p span.options img {
    float: left;
    margin-left: 7px;
}

div.middler {
    float: left;
    margin-left: 10px;
    padding-bottom: 70px;
    width: 980px;
}

div.modder {
    border: 3px solid #dcdad4;
    float: left;
    height: 40px;
    margin-bottom: 2px;
    margin-right: 2px;
    position: relative;
    width: 40px;
}

div.moderators h3 {
    padding-left: 24px !important;
}

div.moderators p {
    float: left;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 2px;
}

div.moderators span.toink {
    float: left;
    font-size: 14px;
    margin-left: 10px;
}

div.moderators, div.people {
    border-bottom: 1px solid #e0ded8;
    float: left;
    width: 431px;
}

div.most_likes {
    border-bottom: 1px solid #e0ded8;
    float: left;
    padding-bottom: 17px;
    width: 431px;
}

div.most_likes h3 {
    background-image: url(/images/most_likes.png);
}

div.navigate_2 {
    float: left;
    margin-bottom: 22px;
    width: 956px;
}

div.navigate_2 ul {
    float: left;
    margin-left: 40px;
}

div.navigate_2 ul li {
    float: left;
    height: 36px;
    list-style-type: none;
    margin-left: -15px;
    width: 106px;
}

div.navigate_2 ul li a {
    color: #646464;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 106px;
}

div.navigate_2 ul li a span {
    float: left;
    height: 36px;
    margin-left: -2px;
    margin-top: 9px;
    text-align: center;
    width: 106px;
}

div.navigate_2 ul li a.active, div.buttons button.save_chat span {
    color: #fff;
}

div.navigate_2 ul li.details a {
    background-image: url(/images/button_002.png);
    z-index: 1000;
}

div.navigate_2 ul li.invite a {
    background-image: url(/images/button_003.png);
    z-index: 999;
}

div.navigate_2 ul li.send a {
    background-image: url(/images/button_004.png);
    z-index: 998;
}

div.people h3 {
    background-image: url(/images/people.png);
}

div.people ul {
    float: left;
    margin-bottom: 20px;
    margin-left: 24px;
    width: 400px;
}

div.people ul li {
    border: 3px solid #eeece5;
    float: left;
    height: 40px;
    list-style-type: none;
    margin-bottom: 2px;
    margin-right: 2px;
    position: relative;
    width: 40px;
}

div.people ul li img.tip {
    float: left;
    height: 40px;
    width: 40px;
}

div.people ul li.modder {
    border: 3px solid #dcdad4;
    float: left;
    height: 40px;
    list-style-type: none;
    margin-bottom: 2px;
    margin-right: 2px;
    position: relative;
    width: 40px;
}

div.popup {
    background-image: url(/images/sprite.png) !important;
    background-position: -382px 0 !important;
    background-repeat: no-repeat !important;
    display: none;
    float: left !important;
    height: 59px !important;
    left: -76px !important;
    position: absolute !important;
    text-align: center !important;
    top: 35px !important;
    width: 191px !important;
    z-index: 10000 !important;
}

div.popup p {
    border-right: 1px solid #E0DED8;
    float: left;
    font-size: 14px;
    margin-top: 25px;
    padding: 0 12px;
}

div.popup p.ban {
    border-right: none;
    padding: 0 0 0 12px;
}

div.popup p.message {
    margin-left: 1px;
}

div.ques_nav {
    float: right;
    margin-right: 17px;
}

div.ques_nav span.next {
    background-image: url(/images/sprite.png);
    background-position: -730px 0;
    background-repeat: no-repeat;
    float: left;
    height: 11px;
    margin-top: 14px;
    width: 10px;
}

div.ques_nav span.prev {
    background-image: url(/images/sprite.png);
    background-position: -720px 0;
    background-repeat: no-repeat;
    float: left;
    height: 11px;
    margin-top: 14px;
    width: 10px;
}

div.question {
    background-color: #fff;
    float: left;
    padding: 11px 16px 7px;
    width: 509px;
}

div.question h2 {
    color: #000;
    float: left;
    font-size: 18px;
}

div.question p {
    color: #484848;
    float: left;
    font-size: 15px;
    margin-top: 3px;
}

div.question_bottom {
    background-image: url(/images/sprite.png);
    background-position: -382px -163px;
    float: left;
    height: 29px;
    position: relative;
    width: 541px;
    z-index: 1000;
}

div.question_count {
    background-image: url(/images/sprite.png);
    background-position: -382px -59px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e0ded8;
    color: #969696;
    float: left;
    padding: 0;
    width: 541px;
}

div.question_count h3 {
    float: left;
    font-size: 14px;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-top: 12px;
    width: 300px;
}

div.question_count h3 span {
    font-weight: 400;
}

div.replies {
    border-bottom: none;
    float: left;
    padding-bottom: 17px;
    width: 431px;
}

div.replies h3 {
    float: left;
    padding: 0 0 0 24px !important;
}

div.replies h4 {
    float: left;
    padding: 0 !important;
    width: 180px;
}

div.reply {
    background-position: 0 -400px;
}

div.reply_bottom {
    background-position: 0 -792px;
}

div.selectable {
    float: left;
    height: 41px;
    overflow: hidden;
}

div.selectable select {
    background-color: transparent;
    background-image: url(/images/selectable_001.png);
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    color: #484848;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 16px;
    height: 41px;
    padding-left: 9px;
    padding-top: 8px;
}

div.selector {
    background-color: transparent !important;
    background-image: url(/images/selectable_001.png) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    border: none !important;
    color: #484848 !important;
    float: left !important;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif !important;
    height: 41px !important;
    line-height: 30px !important;
    padding: 0 !important;
}

div.selector select {
    float: left;
    padding-top: 16px;
}

div.selector span {
    background-color: transparent !important;
    background-position: right 0 !important;
    background-repeat: no-repeat !important;
    border: none !important;
    color: #484848 !important;
    float: left !important;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif !important;
    font-size: 16px !important;
    height: 41px !important;
}

div.side_nav {
    float: right;
    margin-right: 25px;
    margin-top: 6px;
}

div.side_nav span.cross {
    background-image: url(/images/cross.png);
    background-repeat: no-repeat;
    float: left;
    height: 12px;
    margin-top: 14px;
    width: 12px;
}

div.side_nav span.next {
    background-image: url(/images/sprite.png);
    background-position: -710px 0;
    background-repeat: no-repeat;
    float: left;
    height: 11px;
    margin-top: 14px;
    width: 10px;
}

div.side_nav span.prev {
    background-image: url(/images/sprite.png);
    background-position: -700px 0;
    background-repeat: no-repeat;
    float: left;
    height: 11px;
    margin-top: 14px;
    width: 10px;
}

div.sign_upper {
    background-color: #E0DED8;
    float: left;
    height: 82px;
    width: 100%;
}

div.sign_upper p {
    float: left;
    font-size: 18px;
    margin-top: 28px;
    text-align: center;
    width: 100%;
}

div.social {
    float: left;
    margin-bottom: 24px;
    margin-left: 25px;
    width: 430px;
}

div.social_in {
    float: left;
    height: 22px;
    position: relative;
    width: 106px;
    z-index: 501;
}

div.teaser {
    background-image: url(/images/accent.png);
    background-position: 390px 0;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e0ded8;
    float: left;
    margin-top: -14px;
    width: 431px;
}

div.teaser h3 {
    background-image: url(/images/tease.png);
    background-position: 117px 4px !important;
    background-repeat: no-repeat;
    padding-left: 24px !important;
    width: 300px;
}

div.teaser h4 {
    color: #969696 !important;
    font-size: 14px !important;
    margin-bottom: 13px !important;
    margin-top: -12px !important;
    padding-left: 24px !important;
    width: 300px;
}

div.teaser p {
    color: gray;
    float: left;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: 25px;
    width: 381px;
}

div.teaser p img {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

div.text_area_bottom {
    background-image: url(/images/text_area.png);
    background-position: 0 -10px;
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    width: 552px;
}

div.text_area_top {
    background-image: url(/images/text_area.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    width: 552px;
}

div.time_input {
    background-image: url(/images/time.png);
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    height: 41px;
    margin-right: 4px;
    overflow: visible;
    width: 74px;
}

div.time_input input.time {
    background-color: transparent;
    border: none;
    color: #484848;
    font-family: Helvetica, Arial, Myriad Pro, sans-serif;
    font-size: 16px;
    margin-left: -2px;
    margin-top: 9px;
    text-align: center;
    width: 74px;
}

div.timer {
    float: left;
    height: 41px;
    width: 124px;
}

div.timer span.tz {
    color: #969696;
    float: left;
    font-size: 12px;
    margin-top: 8px;
}

div.timer span.tz a, p.add_topic a {
    color: #369;
}

div.top {
    float: left;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-top: 18px;
    width: 960px;
}

div.top h1 {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    text-indent: -10000px;
    width: 126px;
}

div.top h1 a, div.ques_nav span a, div.side_nav span a {
    display: block;
    height: 100%;
    width: 100%;
}

div.ui_left {
    float: left;
    margin: 0 0 0 8px;
    width: 541px;
}

div.ui_left_bottom {
    background-image: url(/images/ui_dg_bottom.png);
    float: left;
    height: 8px;
    width: 541px;
}

div.ui_left_top {
    background-image: url(/images/ui_dg_top.png);
    float: left;
    height: 8px;
    width: 541px;
}

div.ui_right {
    float: left;
    width: 431px;
}

div.ui_right h2.main_right {
    background-image: url(/images/info.png);
    background-position: 385px 1px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e0ded8;
    color: #646464;
    float: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
    margin-top: 13px;
    padding: 0 25px 12px;
    width: 381px;
}

div.ui_right h3, div.ui_right h4 {
    background-position: 25px 3px;
    background-repeat: no-repeat;
    color: gray;
    float: left;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 14px;
    padding: 0 49px;
}

div.ui_right ul.ui_nav {
    border-bottom: 1px solid #e0ded8;
    float: left;
    font-size: 14px;
    padding: 0 25px;
    width: 381px;
}

div.ui_right ul.ui_nav li {
    border-right: 1px solid #e0ded8;
    float: left;
    list-style-type: none;
    margin: -2px 10px 12px 0;
    padding: 3px 10px 3px 0;
}

div.ui_right ul.ui_nav li.last {
    border-right: none;
    margin: -2px 0 12px;
    padding: 3px 0;
}

h2.eventer {
    color: #646464;
    float: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
    margin-left: 17px;
    margin-top: 5px;
}

h2.main {
    color: #646464;
    float: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
    margin-left: 25px;
    margin-top: 13px;
    width: 920px;
}


img.mod {
    border: none;
    height: 11px;
    left: 0;
    position: absolute;
    top: 29px;
    width: 11px;
}

p {
    line-height: 18px;
}

p.add_topic {
    float: left;
    font-size: 14px;
    margin-bottom: 33px;
    margin-top: -4px;
    width: 320px;
}

span.trash {
    background-image: url(/images/trash.png);
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin-left: 16px;
    margin-top: 11px;
    width: 16px;
}

span.trash a {
    display: block;
    height: 16px;
    width: 16px;
}

ul.discuss {
    background-color: #e0ded8;
    float: left;
    margin-top: -20px;
    max-height: 700px;
    min-height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    position: relative;
    width: 541px !important;
    z-index: 999;
}
ul.discuss li {
    float: left;
    list-style-type: none;
    margin-left: 8px;
}

ul.discuss li div.discuss_bottom {
    background-image: url(/images/sprite.png);
    background-position: 0 -1192px;
    background-repeat: no-repeat;
    float: left;
    height: 8px;
    width: 525px;
}

ul.discuss li div.topper {
    background-image: url(/images/sprite.png);
    background-position: 0 -800px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 7px;
    width: 525px;
}

ul.discuss li div.yellow {
    background-position: 0 -1200px;
}

ul.discuss li div.yellow_bottom {
    background-position: 0 -1592px;
}

ul.discuss li:hover {
    cursor: pointer;
}

ul.discuss li:hover div.discuss_info p span, div.discuss_info p span.options, div.likes_info p span.options {
    display: none;
}

ul.discuss li:hover div.discuss_info p span.options {
    display: block;
}

ul.event_listings {
    background-image: url(/images/events.png);
    background-repeat: no-repeat;
    float: left;
    list-style-type: none;
    margin-left: 7px;
    width: 464px;
}

ul.event_listings li {
    border-bottom: 1px solid #e0ded8;
    float: left;
    padding: 7px 10px 12px;
    width: 444px;
}

ul.event_listings li p {
    float: left;
    font-size: 18px;
    width: 100%;
}

ul.event_listings li p span {
    color: #969696;
    float: right;
    font-size: 13px;
}

ul.event_listings li p.event_info {
    color: #646464;
    font-size: 14px;
    margin-top: 6px;
}

ul.event_listings li.last_event {
    background-image: url(/images/last_event.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    border-bottom: none;
    padding: 7px 10px 16px;
}

ul.navigation {
    float: right;
    font-size: 13px;
    list-style-type: none;
    margin-top: 9px;
}

ul.navigation li {
    border-left: 1px solid #dcdad4;
    float: left;
    list-style-type: none;
    margin-left: 14px;
    padding-left: 14px;
}

ul.navigation li.lo, ul.navigation li.welcome_top {
    border-left: none;
}

ul.navigation li.welcome_top a {
    color: gray;
    text-decoration: none;
}

ul.navigation li.welcome_top img {
    float: left;
    height: 24px;
    margin-right: 10px;
    margin-top: -4px;
    width: 24px;
}

/*Page container settings*/
#container {
	margin: 0 auto;
	width: 980px;
	overflow:hidden;	
}

/*Header container settings*/
#header {
	height: 65px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;	
}
#login_cont {
	float:right;
}
#login_cont p {
	font-size: 14px;
	padding-top: 10px;
}
#login_cont a {
	font-size: 14px;
	color: #336699;
	text-decoration:none;
	padding-left: 10px;
	padding-right: 10px;
}

.bold {
	font-weight:bold;
}
#logo {
	display:block;
	width: 130px;
	height:40px;
	background: url(../images/sprites.png) 0 0;
	margin:5px 0px;
	float:left;
}
#facebook {
	display:block;
	width: 25px;
	height:25px;
	background: url(../images/sprites.png) -69px -50px;
	margin:5px 2px;
	float:left;
}
#twitter {
	display:block;
	width: 25px;
	height:25px;
	background: url(../images/sprites.png) -34px -50px;
	margin:5px 2px;
	float:left;
}
.user_icon {
	display:block;
	width: 25px;
	height:25px;
	background: url(../images/sprites.png) -1px -50px;
	margin:-5px 10px;
	float:left;
}
.separator {
	width: 5px;
	height:45px;
	border-right: solid 1px #e0ded8;	
	margin:0px 5px 0 0;
}

.like {
	display:block;
	width:20px;
	height: 25px;
	background: url(../images/sprites.png) -102px -53px;
	margin:8px 10px 8px 0px;
	float:left;
}

/*Navigation settings*/
.nav {
	float:right;
	margin:10px;
}

/*Navigation button left settings*/
.nav_left {
	display:block;
	width: 20px;
	height:20px;
	background: url(../images/sprites.png) no-repeat -2px -88px !important;
	margin:5px 0;
	padding:0px !important;
	float:left;
}

/*Navigation button right settings*/
.nav_right {
	display:block;
	width: 20px;
	height:20px;
	background: url(../images/sprites.png) no-repeat -33px -88px !important;
	margin:5px;
	padding:0px !important;
	float:left;
}
.nav_separator {
	display:block;
	width: 5px;
	height:30px;
	background: url(../images/sprites.png) -20px -84px;
	margin:2px 5px 0 0;
	float:left;
}


/*Main container settings*/
#main {
	width: 980px;		
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow:hidden;	
	background: #eeece5;
	display:block;	
	position:relative; /*Ie round corners hack*/
}
#main  h1 {
	margin: 30px;
}
#main_send  h1 {
	margin: 0 0 30px 0;
	color: #000000;
}
#main_send {
	width: 964px;		
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow:hidden;	
	background: #e0ded8;
	display:block;	
	position:relative; /*Ie round corners hack*/
	margin:10px auto;
	padding: 30px;
}
/*Left column settings*/
#main-left {
	width: 540px;
	background-color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
	float:left;
	margin: 7px 0px 7px 7px;	
	overflow:hidden;
	position:relative; /*Ie round corners hack*/
}

/*Right column settings*/
#main-right {
	width: 433px;	
	float:left;
	overflow:hidden;
}
#user_cont {
	width: 433px;	
	height: 177px;
	border-bottom: solid 1px #e0ded8;	
}
#user_avatar {
	width: 128px;	
	height: 128px;
	margin:25px;
	float:left;
	background-color: #bfbeba;
}
#user_info {
	float:left;
}
#user_info h1 {
	margin:0px;
	margin-top:25px;
	line-height: 24pt;
}
#user_info p {
	font-size: 14pt;
}
#likes_cont {
	margin:25px;
	overflow:hidden;
}
#likes_cont h2, .member_chats h2{
	font-size:18pt;
	line-height:13pt;
	padding-left: 5px;	
	float:left;
}

.chat_item {
	width: 380px;	
	border-radius: 4px;		/*round corners and shadow*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
	box-shadow: 0px 1px 2px #c2c0bc;
	-moz-box-shadow: 0px 1px 2px #c2c0bc;
	-webkit-box-shadow: 0px 1px 2px #c2c0bc;
	margin: 0px 1px 8px 1px;
	overflow:hidden;
	background-color: #fff;
	position:relative; /*Ie round corners hack*/	
}

.chat_logo {
	width: 40px;
	height: 40px;
	float:left;
	margin:10px;
	background-color: #969696;
}
.chat_logo p {
	color: #fff;
	margin:4px;
	padding:0px;
}
.chat_content {
	float:left;
	width: 302px;	
	margin:10px 0px;
}
.chat_content p {
	font-size: 14px;
	color: #242424;
	
}
/*Chat Title link settings*/
.chat_content a:link , .chat_content a:link :active, .chat_content a:link :visited, .chat_content a:link :hover {
	color: #808080;
	font-size: 14px;
	font-weight:bold;
}


/*Social media element containers and settings*/
.social_media_el {
	margin:20px;
	width:500px;
	overflow:hidden;
}
.social_media_el_2 {
	margin:20px 0 0 0;
	padding-top: 10px;
	width:540px;
	overflow:hidden;
	background: #e0ded8;
}
.social_media_header_el {
	overflow:auto;
}
.social_media_header {
	float:left;
	width: 315px;	
	margin: 10px 0px 0px 0px;
}
.social_media_header h2 {
	color: #000000;
	margin:0px 0px 10px 0px;
	line-height: 13pt;
}
.social_media_header p {
	color: #336699;
	font-size:16px;
	font-weight:bold;
}
.social_media_header_el .chat_logo {
	margin-left:0px;
}
.social_media_el h3 {
	color:#000;
	font-size: 16px;
	font-weight:bold;
}
.social_media_el a:link, .social_media_el a:active, .social_media_el a:visited, .social_media_el a:hover {
	color: #fff;
	border-radius:2px;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
	background-color: #7696b4;
	padding: 0px 3px;
	text-decoration:none;
	font-size: 14px;
	font-weight:bold;	
	position:relative; /*Ie round corners hack*/
}
.social_media_text {
	font-size: 13px;
	margin: 15px 0px;
}

.message_item {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px #C2C0BC;
    margin: 5px 1px 8px 7px;
    overflow: hidden;
    position: relative;
    width: 525px;
}


.message_logo {
	width: 40px;
	height: 40px;
	float:left;
	margin:10px;
	background-color: #969696;
}
.message_logo p {
	color: #fff;
	margin:4px;
	padding:0px;
}
.message_content {
	float:left;
	width: 450px;	
	margin:10px 0px;
}
.message_content p {
	font-size: 16px;	
	color: #000000;
	line-height: 16px;
}
/*message Title link settings*/
.message_content a:link , .message_content a:link :active, .message_content a:link :visited, .message_content a:link :hover {
	color: #808080;
	font-size: 14px;
	font-weight:bold;
}
.message_date {
	float:right;
	margin:0px;	
	color: #bbbbbb !important;
    font-size: 14px;    
}
.blue {
	color:#336699 !important;
	
}
.normal {
	font-weight:normal !important;
}

/*Member chats section settings*/
.member_chats {
	width: 433px;	
	border-bottom: solid 1px #e0ded8;	
	overflow:hidden;
}
.member_chats .chat_item {
	margin-left: 25px;
}
.chat {
	display:block;
	width:20px;
	height: 25px;
	background: url(../images/sprites.png) -69px -88px;
	margin:10px 10px 8px 25px;
	float:left;
}
.chat_title {
	font-size: 18pt;
	color: #000;
	font-weight: bold;
	margin:0px;
}

.chat_count {
    color: #c5c4be !important;
    float: right;
    font-size: 18pt;
	font-weight:bold;
    margin: 0;
}
.post_count {
	color: #808080 !important;
	font-size: 15px !important;
}
.yellow-chat_item {
	float:left;
	width: 380px;	
	border-radius: 4px;		/*round corners and shadow*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
	box-shadow: 0px 1px 2px #c2c0bc;
	-moz-box-shadow: 0px 1px 2px #c2c0bc;
	-webkit-box-shadow: 0px 1px 2px #c2c0bc;
	margin: 0px 1px 8px 0px;
	overflow:auto;
	background-color: #fff8d7;
	position:relative; /*Ie round corners hack*/	
	z-index:2;
}
.yellow-with-triangle {
	width: 410px;	
	overflow:auto;	
	margin-bottom:8px;
}
.triangle-left {
	display:block;
	width:15px;
	height: 35px;
	background: url(../images/sprites.png) -52px -83px;
	margin:20px 0px 0 10px;
	float:left;
	z-index:100;
	left:1px;
	position:relative;
}
.settings_container {
	width: 515px;
	height: 450px;
	border-radius: 6px;		/*round corners and shadow*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
	box-shadow: 4px 4px 16px #c2c0bc;
	-moz-box-shadow: 4px 4px 16px #c2c0bc;
	-webkit-box-shadow: 0px 1px 2px #c2c0bc;
	background-color: #e0ded8;
	overflow:hidden;
	margin: 20px auto;
	position:relative;
}
.settings_right {
	float:left;
	width: 350px;
	height: 450px;
	background-color:#eeece5;
	border-left: solid 1px #d4d2cd;
	border-radius: 0 6px 6px 0;		/*round corners and shadow*/
	-moz-border-radius: 0 6px 6px 0;	
	-webkit-border-radius: 0 6px 6px 0;	
	position:relative;
	overflow:hidden;
}
.settings_left {
	float:left;
	width: 164px;
	height: 450px;
	border-radius: 6px 0 0 6px;		/*round corners and shadow*/
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;	
	position:relative;
}
.settings_left h1, .settings_right h1 {
	font-size:24px;
	margin: 20px;
}
.settings_left a:link {
	display:block;
	color: #646464;
	font-size: 14px;
	font-weight:bold;	
	height:25px;
	width: 165px;	
	line-height: 14px;
	text-decoration:none;
	padding-left: 15px;
	padding-top:10px;
}
.selected {
	color: #fff !important;
	background-color: #969696;
}
.label {
	font-size:14px;
	font-weight:bold;
	margin: 7px 20px;
	display:block;
}

.date_input, .hour_input, .am_input, .length_input, .length_large_input{
	margin-left: 20px;
	padding:0px;
	width: 161px;
	height: 40px;
    font-size: 15px;   
    outline: none;  
    background: url(../images/bg-date.png) left top repeat-x; 
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;  
    border: 1px solid #bfbeba;  	
	position:relative;
	overflow:hidden;
}
.hour_input {
	width:75px;
}
.am_input {
	width:47px;
}
.length_input {
	width:120px;
}
.length_large_input {
	width:120px;
}
.setting_input {
	margin-left: 20px;
	padding:0px;
	width: 304px;
	height: 35px;
    font-size: 15px;   
    outline: none;  
    background: url(../images/bg_input.jpg) left top repeat-x; 
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;  
    border: 1px solid #bfbeba;  	
	position:relative;
	overflow:hidden;
}
.setting_input input {
	display:block;
	margin: 0px 0px 0px 0px;
	padding:0px;
	width:300px;
	height:22px;
	font-family: Helvetica, Arial, sherif ;
	font-size: 14pt;
  font-style: normal;
	border:0px;
  color: rgb(97, 97, 97);
}
.setting_textarea {
	margin-left: 20px;
	padding:0px;
	width: 550px;
	height: 130px;
    font-size: 15px;   
    outline: none;  
    background: url(../images/bg_input.jpg) left top repeat-x #ffffff; 
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;  
    border: 1px solid #bfbeba;  	
	position:relative;
	overflow:hidden;
	float:left;
}
.setting_textarea textarea {
	display:block;
	margin: 0px 0px 0px 0px;
	padding:0px;
	width: 550px;
	height: 127px;
	font-family: Helvetica, Arial, sherif ;
	font-size: 14pt;
  font-style: normal;
	border:0px;
  color: rgb(97, 97, 97);
}
a.import:link,a.import:active, a.import:visited, a.import:hover , a.view:link, a.view:active, a.view:visited, a.view:hover {	
	padding-left:15px;
	width: 128px;
	height: 40px;
    font-size: 15px;   
    outline: none;  
    background: url(../images/bg-date.png) left top repeat-x; 
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;  
    border: 1px solid #bfbeba;  	
	position:relative;
	overflow:hidden;
	display:block;
	text-decoration:none;
	line-height:38px;
	color: #808080;
	font-weight:bold;
	margin-left:20px;
	float:left;
}
.files_policy {
	margin-left:20px;
	color: #646464;
	font-size:12px;
}
a.view:link {
	width: 80px;
}
.save_cont {
	margin-top:20px;
}
.save_cont p {
	line-height: 36px;
	color: #969696;
}
.save_btn {
	display:block;
	width:126px;
	height: 36px;
	background: url(../images/sprites.png) -2px -121px no-repeat;
	margin:	2px 20px;
	float:left;
}
.save_exit_btn {
	display:block;
	width:112px;
	height: 36px;
	background: url(../images/sprites.png) -134px -121px no-repeat;
	 margin: 2px 20px 10px 0;
	float:right;
}
.exit_btn {
	display:block;
	width:65px;
	height: 36px;
	background: url(../images/sprites.png) -258px -121px no-repeat;
	 margin: 2px 20px 10px 0;
	float:right;
}
.next_send_btn {
	display:block;
	width:190px;
	height: 36px;
	background: url(../images/sprites.png) -205px -225px no-repeat;
	margin: 20px 20px 10px 20px;
	float:left;
}
.next_btn {
	display:block;
	width:190px;
	height: 36px;
	background: url(../images/sprites.png) -2px -225px no-repeat;
	 margin: 20px 20px 10px 20px;
	float:left;
}
.cancel_lnk {
	color: #646464;
	text-decoration:underline;
	padding: 0px 10px;
}
.close_btn {
	display:block;
	width: 20px;
	height:20px;
	background: url(../images/sprites.png) -92px -87px;
	margin:10px;
	float:right;
}
.checkBox {
    background-position: -1px -162px;
}
.checkBox, .checkBoxClear {
    background-image: url("../images/sprites.png");
    background-position: -1px -162px;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
}
.checkBoxClear {
    background-position: -22px -164px;
}
.notifications_cont {	
	height: 20px;
    margin: 5px 0 0 20px;
}
.details_checkbx_cont {
	margin: 10px 0px 0px 10px;
	color: #242424;
}
.chat_list_cont {
	margin: 5px 0px 0px 10px;
	color: #242424;
	height: 20px;
}
label {
    color: #000000;
    display: block;
    height: 30px;
    margin: 7px 0;
    text-align: left;
    width: 90%;
}

.social_el {
	width: 135px;		
	height:37px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow:hidden;	
	background: #d6d4ce;	
	position:relative; /*Ie round corners hack*/
	margin: 5px 20px;
	padding-top: 3px;
}
a.social_twitter:link {
	margin:11px 0px 0px 12px;
	text-decoration:none;
	font-size: 15px;
	font-weight:bold;
	color: #484848;
	float:left;	
}
.social_twitter span {
	display:block;
	width:20px;
	height:22px;
	margin: -5px 8px 0 0;
	background: url(../images/sprites.png) -129px -51px;
	float:left;
}
ul#navigation {
    height: 38px;
	width:200px;
    list-style-type: none;
    margin: 0 0 0 30px;
    padding: 0;
    position: relative;
	float:left;
}
ul#navigation li {
    margin: 0;
    padding: 0;
}
ul#navigation li a {
    display: block;
    position: absolute;
    text-decoration: none;
	color: #5881a8;
	font-size:15px;
	font-weight:bold;
    top: 0;
	text-align:center;
	line-height:36px;
}
ul#navigation li a#one {
    background: url("../images/menu_left.png") no-repeat scroll 0 0 transparent;
    height: 38px;
    left: 0;
    width: 105px;
	z-index: 5;
}
ul#navigation li a#one:hover, ul#navigation li a#one.active {
    background: url("../images/menu_left_hover.png") no-repeat scroll 0 0 transparent;
    color: #ffffff;
}

ul#navigation li a#two {
    background: url("../images/menu_middle.png") no-repeat scroll 0 0 transparent;
    height: 38px;
    left: 75px;
    width: 140px;
	z-index: 4;
}
ul#navigation li a#two:hover, ul#navigation li a#two.active {
    background: url("../images/menu_middle_hover.png") no-repeat scroll 0 0 transparent;
    color:#ffffff;
}
ul#navigation li a#three {
    background: url("../images/menu_right.png") no-repeat scroll 0 0 transparent;
    height: 38px;
    left: 185px;
    width: 125px;
    z-index: 3;
}
ul#navigation li a#three:hover, ul#navigation li a#three.active {
    background: url("../images/menu_right_hover.png") no-repeat scroll 0 0 transparent;
    color:#ffffff;
}

ul#navigation li a:hover {
color:#fffff;
}
.spacer_30 {	margin-top: 30px;}
.spacer_50 {	margin-top: 50px;}
.spacer_100 {	margin-top: 100px;}
.spacer_150 {	margin-top: 150px;}
.spacer_200 {	margin-top: 200px;}
.spacer_250 {	margin-top: 250px;}
.spacer_400 {	margin-top: 400px;}

a.send:link , a.send:active, a.send:visited, a.send:hover {
	color: #336699;
	font-size: 14px;
	font-weight:bold;
	margin-left:20px;
}
.add_image {
    background-color: #ffffff;
    float: left;
    height: 128px;
    margin-left: 25px;
    width: 128px;
}
.add_image p {
	margin:50px auto;
	font-weight:bold;
	width:85px;
	color: #336699;
}
.send_el {
	overflow:auto;
	margin-top:10px;
	margin-bottom:10px;
}
.chat_el {
	float:left;
}
.date_cal {
	display:block;
	width: 17px;
	height:15px;
	background: url(../images/sprites.png) 0px -183px;
	margin:0;
	padding: 15px;
	float:right;
	border-left: solid 1px #cfcdc9;
}
.arrow_cal {
	display:block;
	width: 17px;
	height:15px;
	background: url(../images/sprites.png) -47px -183px;
	margin:0;
	padding: 15px;
	float:right;
	border-left: solid 1px #cfcdc9;
}
.chat_text {
	float:left;
	line-height:40px;
	font-size: 14px;
  font-weight: bold;
	margin:0px 0px 0px 5px;
}
.am_text {	
	line-height:40px;
	font-size: 14px;
    font-weight: bold;
	margin:0px 0px 0px 12px;
	float:left;
  cursor: pointer;
}
.chat_list {
	float:left;
	width:400px;
	height:240px;
	margin:20px;
	background: url(../images/bg-textarea.jpg) left top repeat-x #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow:hidden;	
	display:block;	
	position:relative; /*Ie round corners hack*/
	border:solid 1px #bfbeba;
	padding:10px;
}
.margin20 {
	margin-left:20px;
}
.chk {
	overflow:auto;
}
