<div class="center_mid_left">
  <div class="center_mid_sides_top"></div>
  <h2 class="eventer">Upcoming Events</h2>
  <div class="enter_event">


    <p style="float:left;">
    <input type="text" value="Event Name" id="newEventName" onclick="this.value = ''">
    </p>

    <p style="float:right;">
    <button id="newEventCreation">
      <span>Create new event</span>
    </button>
    </p>
  </div><!--.enter_event-->
  <ul class="event_listings">
  </ul>
  <div class="center_mid_sides_bottom"></div>
</div><!--.center_mid_left-->
<div class="center_mid_right">
  <div class="center_mid_sides_top"></div>
  <h2 class="eventer">Past Events</h2>
  <ul class="event_listings">
  </ul>
  <div class="center_mid_sides_bottom"></div>
</div><!--.center_mid_right-->

