<div class="send_el">
  <p class="label">Invite attendees from prior chats:</p>
  <div class="chat_list">
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
  </div>
</div>
<div class="send_el">
  <a href="" class="import" >Import Contacts</a>
  <a href="" class="view" >View List</a>
</div>
<div class="send_el">
  <p class="files_policy">Accepted file types: CSV, Excel</p>
</div>	
<div class="send_el margin20">
  <a id="facebook" href="#"></a>					
</div>
