    <div class="send_el">
      <div class="setting_textarea">
        <textarea name="description" rows="8" cols="20"></textarea>
      </div>
      <div class="add_image">
        <p>add image</p>
      </div>
    </div>
    <br />
    <div class="send_el">
      <div class="chat_el">
        <p class="label">Chat Date</p>
        <div class="date_input">
          <p class="chat_text">02/01/2012</p>
          <a class="date_cal" href="#"></a>
        </div>
      </div>
      <div class="chat_el">
        <div class="chat_el">
          <p class="label">Starts at</p>
          <div class="hour_input">
            <p class="chat_text">12:09</p>						
          </div>
        </div>
        <div class="chat_el">	
          <p class="label"> &nbsp;</p>
          <div class="am_input">
            <p class="am_text">am</p>							
          </div>
        </div>	
      </div>
      <div class="chat_el">
        <div class="chat_el">
          <p class="label">Chat Length</p>
          <div class="length_input">
            <p class="am_text">1h</p>
            <a class="arrow_cal" href="#"></a>
          </div>
        </div>
        <div class="chat_el">
          <p class="label">Chat Length</p>
          <div class="length_input">
            <p class="am_text">30 min</p>
            <a class="arrow_cal" href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="send_el">
      <p class="label">Chat hashgtag</p>
      <div class="setting_input">
        <input type="text" value="" name="firstName" />
      </div>
    </div>
    <div class="send_el">	
      <p class="label">Chat topic</p>
      <div class="setting_input">
        <input type="text" value="" name="firstName" />
      </div>
    </div>	

    <div class="send_el">
      <br />
      <a class="send" href="#/create/<%=freshEvent.id%>/invite">+ Add another chat topic</a>					
    </div>
    <a href="#/create/<%=freshEvent.id%>/invite" class="next_btn" ></a>
<br />		
<br />		
