<div class="send_el">
  <p class="paragraph_label">Invite attendees from prior chats:</p>
  <div class="chat_list">
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
    <div class="chk">
      <div class="checkBoxClear chat_list_cont">&nbsp;</div>
      <label class="chat_list_cont" for="checkbox">Prior Chat Title</label>
    </div>
  </div>
</div>
<div class="send_el">
</div>
<div class="send_el">
</div>	
<div class="send_el margin20">
  <a href="#/create/<%=freshEvent.id%>/send" class="next_btn"></a>
</div>
