<div class="send_el">
  <form class="form-horizontal evt-create-details">
    <fieldset>
      <div class="control-group">
        <div class="setting_textarea">
          <textarea name="description" class="input-xlarge" rows="8" placeholder="Enter event description" cols="20"></textarea>
        </div>
        <div class="add_image">
          <p>add image</p>
        </div>
      </div>
      <div class="control-group">
        <div class="chat_el">
          <p class="paragraph_label">Chat Date</p>
          <p class="chat_text"><input type="text" class="input-min datepicker span2" placeholder="01/01/2012" value=""/></p>
        </div>
        &nbsp;
        &nbsp;
        <div class="chat_el">
            <p class="paragraph_label">Starts at</p>
            <input type="text" class="input-min span1" placeholder="00:00" value=""/>
          <select class="span1">
            <option>am</option>
            <option>pm</option>
          </select>
        </div>
        &nbsp;
        <div class="chat_el">
          <p class="paragraph_label">Chat Length</p>
          <select id="select01" class="span1">
            <option>1h</option>
            <option>2h</option>
            <option>3h</option>
            <option>4h</option>
            <option>5h</option>
            <option>6h</option>
          </select>
          <!--<a class="arrow_cal dropdown-toggle" data-toggle="dropdown" href="#"></a>-->
        </div>
      </div>
      <div class="control-group">
        <p class="paragraph_label">Chat hashgtag</p>
        <div class="setting_input">
          <input type="text" value="" class="voluble-input" name="chatHashTag" />
        </div>
      </div>
      <div class="control-group topic-container">
        <p class="paragraph_label">Chat topic</p>
        <div class="setting_input">
          <input type="text" value="" class="voluble-input" name="chatTopic[]" />
        </div>

      </div>
    </div>
      </fieldset>
  </form>
  
</div>
<div class="send_el">
  <br />
  <a class="send" href="#addChatTopic">+ Add another chat topic</a>					
</div>
<a href="#/create/<%=freshEvent.id%>/invite" class="next_btn" ></a>
<br />		
<br />		
