<div class="likes_container">
    <div class="likes">
        <div class="avatar">
            <img src="<%=data.user.profile_pic_url%>"/>
        </div>
        <div class="likes_info">
            <p>
                <a href="#">
                    <%=data.user.name%>
                </a>
											<span>
												x <%=data.likes%>
											</span>
            </p>

            <p class="message">
                <%=data.message%>
            </p>
        </div>
    </div>
    <div class="likes_bottom"></div>
</div>